:root{
    --verde-fundo:#809b5d;
    --azul-fundo:#469bc8;
    --cinza-claro:#e1e1e1;
}

header{
    background: var(--verde-fundo);
}

.texto-branco{
    color: #ffffff;
}

.secao-intro{
    background: #000000;
    padding: 50px 0;
}

.titulo-intro{
    margin: 50px 0;
}

.imagens-intro{
    width: 80%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.img-secundaria{
    width: 25%;
    border-radius: 10px;
    transition: 0.5s;
    cursor: pointer;
}

.img-principal{
    width: 40%;
    border-radius: 10px;
    transition: 0.5s;
    cursor: pointer;
}

.img-secundaria:hover, .img-principal:hover{
    transform: scale(1.1);
}

.img-vader:hover{
    box-shadow: 0 0 10px #ff0000;
}

.img-luke:hover{
    box-shadow: 0 0 10px #00ff00;
}

.section-vader{
    background: #ff0000;
    padding: 50px 5%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.about-vader{
    color: #000000;
    font-weight: bold;
    width: 450px;
    border-radius: 10px;
    padding: 20px 0;
}

.titulo-vader{
    padding: 0 0 20px 0;
}

.text-vader{
    text-align: justify;
    line-height: 1.3em;
    padding: 0 10px;
}

.img-about-vader{
    width: 300px;
}

.img-about-vader img{
    width: 100%;
    min-width: 230px;
    border: 3px solid black;
    border-radius: 10px;
    transition: 0.5s;
}

.img-about-vader img:hover{
    box-shadow: 20px 20px black;
}

.section-palpatine{
    background: #000000;
    padding: 50px 5%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.img-about-palpatine{
    width: 300px;
}

.img-about-palpatine img{
    width: 100%;
    min-width: 230px;
    border-radius: 10px;
    transition: 0.5s;
}

.about-palpatine{
    color: #ffffff;
    font-weight: bold;
    width: 450px;
    padding: 30px;
    border: 1px solid white;
}

.about-palpatine:hover{
    box-shadow: 0 0 10px #ffffff;
}

.titulo-palpatine{
    padding: 0 0 20px 0;
}

.text-palpatine{
    text-align: justify;
    line-height: 1.3em;
    padding: 0 10px;
}



.section-luke{
    background: #0844a3;
    padding: 50px 5%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.img-about-luke{
    width: 300px;
}

.img-about-luke img{
    width: 100%;
    min-width: 230px;
    border-radius: 10px;
    transition: 0.5s;
}

.about-luke{
    color: #ffffff;
    font-weight: bold;
    width: 450px;
    padding: 30px;
    border: 3px solid rgb(44 255 0);
    transition: 0.5s;
}

.about-luke:hover{
    box-shadow: -20px -20px rgb(44 255 0);
    /* box-shadow: -20px -20px #e56412; */
}

.titulo-luke{
    padding: 0 0 20px 0;
}

.text-luke{
    text-align: justify;
    line-height: 1.3em;
    padding: 0 10px;
}