body{
    font-family: 'Montserrat', sans-serif;
}

h1,h2, a{
    font-family: 'Alfa Slab One', cursive;
}

header{
    background-color: gold;
    padding: 20px 0;
}

.caixa{
    width: 940px;
    margin: 0 auto;
    position: relative;
}

.logo{
    width: 150px;
}

.logo img{
    width: 100%;
    transition: 1s;
}

.logo img:hover{
    transform: scale(1.2);
}

nav{
    position: absolute;
    top: 35px;
    right: 0;
}

nav li{
    display: inline;
    margin: 0 0 0 15px;
}

a{
    text-decoration: none;
    font-size: 1.3em;
    color: #000000;
    transition: 0.5s;
}

a:hover{
    text-shadow: 0px 2px #ffffff;
}

a:visited{
    color: none;
}

.link-verde{
    color: #5d9b5d;
}

footer{
    text-align: center;
    width: 100%;
    background-color: #020202;
    padding: 20px;
    box-sizing: border-box;
    color: #ffffff;
}

footer img{
    width: 150px;
    margin-bottom: 20px;
}