body{
    font-family: 'Montserrat', sans-serif;
}

h1,h2, a{
    font-weight: bold;
}

header{
    background-color: gold;
    padding: 20px 0;
    width: 100%;
}

.caixa{
    width: 80%;
    margin: 0 auto;
    padding: 10px 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    transition: 1s;
}

.logo{
    width: 150px;
    max-width: 200px;
}

.logo img{
    width: 100%;
    transition: 1s;
}

.logo img:hover{
    transform: scale(1.2);
}

.lista{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.optsNav{
    display: inline;
    margin: 0 0 0 15px;
}

.navLink{
    text-decoration: none;
    font-size: 1.3em;
    color: #000000;
    transition: 0.5s;
}

.navLink:hover{
    text-shadow: 0px 2px #ffffff;
}

.navLink:visited{
    color: none;
}

.drop-down{
    display: none;
    cursor: pointer;
    width: 24px;
}

.link-verde{
    color: #5d9b5d;
}

.titulo-principal{
    font-size: 2em;
    text-align: center;
    font-family: 'Alfa Slab One', cursive;
    cursor: default;
}

.titulo-secundario{
    font-size: 1.5em;
    text-align: center;
    font-family: 'Alfa Slab One', cursive;
    cursor: default;
}

footer{
    text-align: center;
    width: 100%;
    background-color: #020202;
    padding: 20px;
    box-sizing: border-box;
    color: #ffffff;
}

footer img{
    width: 150px;
    margin-bottom: 20px;
}

@media screen and (max-width:620px) {
    header{
        padding: 0;
    }
    .caixa{
        width: 100%;
        justify-content: center;
        flex-direction: column;
    }
    .lista{
        flex-direction: column;
    }
    .optsNav{
        margin: 0;
    }
    .navLink{
        display: none;
    }
    .drop-down{
        display: block;
        transition: 1s
    }
};